
:global(html) {
  color: #fff;
  font-family: "Nunito Sans",-apple-system,".SFNSText-Regular","San Francisco",BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
}

:global(.sbdocs-wrapper) .listbox {
  position: relative;

  &:global(.absolute) {
    position: absolute;
  }
}
