
:root {
  --selectry-transition-time: 0.4s;
}

.real-select {
  position: absolute;
  bottom: 0;
  display: none;
}

.wrapper {
  position: relative;
  margin: 0.25em 0;
  font-family: Helvetica, sans-serif;
  color: #000;
}

.select {
  padding: 0.5em;
  line-height: 1em;
  border: 1px solid #222;
  border-radius: 0.5em;
  background: white;
  width: 100%;
  text-align: left;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  transition: border-bottom-left-radius 0s var(--selectry-transition-time), border-bottom-right-radius 0s var(--selectry-transition-time);

  &.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: none;
  }

  &:hover, &:focus {
    background: #f0f8ff;
  }
}

.label {
  flex-grow: 1;
  
  &.empty {
    color: #666;
  }
}

.listbox {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: white;
  user-select: none;
  z-index: 9001;
  height: 0;
  max-height: 10em;
  transition: height var(--selectry-transition-time);
  border: 1px solid #888;
  border-top: 0;
  border-bottom: 0;
  
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(200, 200, 200, 0.5);
    border-radius: 10px;
    margin: 5px 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;

    &:hover {
      background: #555;
    }
  }

  &-test {
    height: auto !important;
    opacity: 0 !important;
    pointer-events: none !important;
    position: fixed !important;
    left: -100000px !important;
    top: -100000px !important;
    z-index: -100000 !important;
  }

  .select.open + & {
    border-bottom: 1px solid #888;
  }

  &.flow {
    position: relative;
  }
}

.option {
  padding: 0.3em 0.5em;
  list-style: none;
  /* border-bottom: 1px solid #bbb; */
  cursor: pointer;
  

  &:last-of-type {
    border-bottom: none;
  }

  &:hover, &:focus {
    background: #eef7ff;
  }

  &.selected {
    background: #ccddee;
  }
}

.option-group {
  /* margin-top: 0.125em; */

  &:first-of-type {
    margin-top: 0;
  }

  &-label {
    display: flex;
    flex-direction: row;
    padding: 0.3em 0.5em;
    font-size: 0.8em;
    color: #777;
    font-weight: bold;
    text-transform: uppercase;

    &-divider {
      border-top: 1px solid #ccc;
      height: 0;
      margin-left: 0.5em;
      flex-grow: 1;
    }
  }

  &-children {
    padding-left: 1em;
  }
}

.chevron {
  width: 1em;
  height: 1em;
  transition: transform var(--selectry-transition-time);

  &.flipped {
    transform: rotate(-180deg);
  }
}
